@page "/BuyerNotificationSent"
@attribute [StreamRendering]
@rendermode InteractiveServer

<div class="status-page">
    <div class="status-icon status-icon-success">
        <i class="bi bi-check-circle-fill"></i>
    </div>
    <h2 class="status-title">Pranešimas išsiųstas!</h2>
    <p class="status-text">
        Sutarties duomenys išsiųsti pirkėjui el. paštu. Pirkėjas gaus el. laišką su instrukcijomis,
        kaip tęsti automobilio pirkimo procesą.
    </p>
    <a href="/" class="btn btn-cta">
        Grįžti į pradžią <i class="bi bi-arrow-right ms-2"></i>
    </a>
</div>
