@page "/ContractCompleted"
@attribute [StreamRendering]
@rendermode InteractiveServer

<div class="status-page">
    <div class="status-icon status-icon-success">
        <i class="bi bi-check-circle-fill"></i>
    </div>
    <h2 class="status-title">Sutartis užbaigta!</h2>
    <p class="status-text">
        Sutartis sėkmingai sudaryta. Pardavėjas ir pirkėjas gaus sutarties dokumentus el. paštu.
    </p>
    <a href="/" class="btn btn-cta">
        Grįžti į pradžią <i class="bi bi-arrow-right ms-2"></i>
    </a>
</div>
