@page "/Seller/{ContractId:guid?}"
@using AutoDokas.Resources
@using AutoDokas.Components.Shared
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Text> Localizer
@attribute [StreamRendering]
@rendermode InteractiveServer


<PageTitle>Form</PageTitle>

<div class="container my-4">

    <Stepper Steps="4" CurrentStep="1" />
    
    <h3>Seller Information</h3>

    @if (_loading)
    {
        <div class="spinner-border" role="status"></div>
    }
    else
    {
        <EditForm FormName="SellerForm" Model="Model" OnValidSubmit="Submit">
            <DataAnnotationsValidator/>
            <div class="mb-3">
                <label class="form-label" for="Name">@Localizer["Name"]</label>
                <InputText class="form-control" @bind-Value="Model.Name" id="Name"/>
                <ValidationMessage For="() => Model.Name"/>
            </div>
            <div class="mb-3">
                <InputCheckbox class="form-check-input" @bind-Value="Model.IsCompany" id="IsCompany"/>
                <label class="form-check-label" for="IsCompany">Is Company</label>
            </div>
            <div class="mb-3">
                <label class="form-label" for="Code">Code</label>
                <InputText class="form-control" @bind-Value="Model.Code" id="Code"/>
                <ValidationMessage For="() => Model.Code"/>
            </div>
            <div class="mb-3">
                <label class="form-label" for="Phone">Phone Number</label>
                <InputText class="form-control" type="tel" @bind-Value="Model.Phone" id="Phone"/>
                <ValidationMessage For="() => Model.Phone"/>
            </div>
            <div class="mb-3">
                <label class="form-label" for="Address">Address</label>
                <InputText class="form-control" @bind-Value="Model.Address" id="Address"/>
                <ValidationMessage For="() => Model.Address"/>
            </div>
            <div class="mb-3">
                <label class="form-label" for="Email">Email</label>
                <InputText class="form-control" type="email" @bind-Value="Model.Email" id="Email"/>
                <ValidationMessage For="() => Model.Email"/>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="Consent" @bind="isConsentChecked" />
                <label class="form-check-label" for="Consent">I consent to the terms and conditions</label>
            </div>
            <button class="btn btn-primary mt-2" type="submit" disabled="@(!isConsentChecked)">Next</button>
        </EditForm>
    }
</div>

@code {
    private bool isConsentChecked = false;
}