services:
  autodokasapp:
    build:
      context: ./src/AutoDokas
      dockerfile: Dockerfile
    ports:
      - "8080:80"
      - "8443:443"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:80
      - ConnectionStrings__AppDbContext=Data Source=/app/data/app.db
    volumes:
      - autodokas-data:/app/data

  sqlite-web:
    image: coleifer/sqlite-web
    ports:
      - "8082:8080"
    volumes:
      - autodokas-data:/app/data
    command: sqlite_web -H 0.0.0.0 /app/data/app.db
    restart: unless-stopped
    depends_on:
      - autodokasapp

volumes:
  autodokas-data: