@page "/Form"
@using AutoDokas.Resources
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Text> Localizer
@attribute [StreamRendering]
@rendermode InteractiveServer


<PageTitle>Form</PageTitle>
<h3>Seller Information</h3>

@if (_loading)
{
    <div class="spinner-border" role="status"></div>
}
else
{
    @if (_submitted)
    {
        <div class="alert alert-success" role="alert">
            This is a success alert—check it out!
        </div>
    }

    <EditForm FormName="Hello" Model="Model" OnValidSubmit="Submit">
        <div class="form-group">
            <label for="Model.BuyerInfo.Name">@Localizer["Name"]</label>
            <InputText class="form-control" @bind-Value="Model.Name"/>
        </div>
        <div class="form-group">
            <label for="Model.BuyerInfo.IsCompany">Is Company</label>
            <InputCheckbox class="form-check-input" @bind-Value="Model.IsCompany"/>
        </div>
        <div class="form-group">
            <label for="Model.BuyerInfo.Code">Code</label>
            <InputText class="form-control" @bind-Value="Model.Code"/>
        </div>
        <div class="form-group">
            <label for="Model.BuyerInfo.Code">Phone Number</label>
            <InputText class="form-control" type="tel" @bind-Value="Model.Phone"/>
        </div>
        <div class="form-group">
            <label for="Model.BuyerInfo.Code">Address</label>
            <InputText class="form-control" @bind-Value="Model.Address"/>
        </div>
        <div class="form-group">
            <label for="Model.BuyerInfo.Code">Email</label>
            <InputText class="form-control" type="email" @bind-Value="Model.Email"/>
        </div>
        <button class="btn btn-primary mt-2" type="submit">Next</button>
    </EditForm>
}